html {
	margin: 0;
}
body {
	margin: 0;
	background: #ccc;
	font-family: monospace;
	color: #222;
	line-height: 2rem;
}
button, input {
	border: 0 none;
	background: #ddd;
	height: 2rem;
	color: #333;
	vertical-align: middle;
	max-width: 100%;
	min-width: 2rem;
	font-family: monospace;
	color: #222;
}
input {
	border: 0 none;
	padding: 0 1rem;
	background: #fff;
	height: 3rem;
}
#interface {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	filter: blur(16px);
}
.controls {
	background: #fff;
	height: 3rem;
	line-height: 3rem;
	padding: 0 1rem;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
}
.title {
	display: inline-block;
	margin-right: 2rem;
	flex: 1 1 0;
	padding: 0rem 0.5rem;
}
.buttons {
	width: 50%;
	display: inline-block;
	padding: 0.5rem 0;
	text-align: right;
}
.chatinput {
	display: flex;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 3rem;
}
.chatinput button {
	height: 3rem;
}
#chat {
	background: #fff;
	position: absolute;
	top: 0;
	bottom: 3rem;
	left: 0;
	right: 0;
	overflow-y: scroll;
	line-height: 1rem;
}
#textinput {
	display: flex;
	flex: 1 1 0;
}
#send {
	width: 10%;
	min-width: 100px;
}

.section {
	position: absolute;
}
.top {
	top: 0;
	bottom: 50%;
	left: 0;
	right: 0;
}
.bottom {
	top: 50%;
	bottom: 0;
	left: 0;
	right: 0;
}
.main {
	position: absolute;
	top: 3rem;
	bottom: 0;
	left: 0;
	right: 0;
}
.leftbar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 70%;
}
.horizontalcenter {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 30%;
	right: 30%;
	background: #888;
	color: #fff;
}
.rightbar {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 70%;
	right: 0;
}
.padded {
	padding: 0.5rem 1rem;
}
.chatname, .messagebody {
	display: inline-block;
}
.message {
	line-height: 1.5rem;
	padding: 0 0.5rem;
}
.messagebody {
	padding: 0 0.5rem;
}
form {
	margin: 0;
}

#login {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.7);
	text-align: center;
}

.popup {
    position: absolute;
    width: 10rem;
    height: 10rem;
    margin: auto auto;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #aaa;
    border-radius: 0.5rem;
}
.popuptitle {
	font-size: 1rem;
	margin-bottom: 0.5rem;
}
#namebutton {
	margin: 0.5rem;
}